<!DOCTYPE html>
<html>
  <head>
    <title>Web Development Hands-On</title>
  </head>
  <body>
   <h1> Assalamualaikum, Merhaba bikum </h1>
    <h1> Careers</h1>
    <img src="https://web-dev-1.mohdtayyab002.repl.co/static/banner.jpg" height="120b f" width = 1800> 
    <h2> About Us</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Nisl tincidunt eget nullam non nisi est sit amet. Viverra justo nec ultrices dui sapien eget. Dui id ornare arcu odio ut sem. Venenatis cras sed felis eget velit aliquet sagittis. Ullamcorper morbi tincidunt ornare massa. Purus faucibus ornare suspendisse sed nisi lacus sed. Arcu odio ut sem nulla pharetra diam sit amet. Amet tellus cras adipiscing enim eu turpis egestas pretium aenean. Nulla at volutpat diam ut venenatis tellus in metus. Leo duis ut diam quam nulla. Euismod nisi porta lorem mollis aliquam.
    </p>
    <h2> Open Positions</h2>
    <button>Contact Us</button>
  </body>
</html>